@charset "UTF-8";

.reveal .slides>section,
.reveal .slides>section>section {
	padding: 20px 1em !important;
}

section.bg{
	background-color: rgba(255, 218, 223, 0.85);
	border: 10px solid #fff !important;
}

h2.jp{
	font-weight: bold;
	letter-spacing: -0.05em;
	font-size: 1.75em;
	line-height: 1.5;
}

h3.jp{
	font-weight: bold;
	letter-spacing: -0.05em;
	font-size: 1.25em;
	line-height: 1.5;
}

.reveal p{
	letter-spacing: -0.05em;
	margin-bottom: 1.25em !important;
	font-weight: bold;}

.reveal section img{
	border: 7px solid #fff;
}

ul.ul_none{
	list-style-type: none;
	margin-left: 0;
	margin: 0 300px;
}

li{
	line-height: 2 !important;
}

.txt_center{
	text-align: center;
}

.narrow{
	letter-spacing: -0.05em;
	padding: 1em !important;
}

.shoes{
	background: url('../img/shoes.png') no-repeat left center;
}

li.app_f, li.app_w{
	position: absolute;
}

li.app_w{
	top: -50%;
	left: -10%;
}

li.app_f{
	top: -50%;
	right: -15%;
}

li.app_w img,
li.app_f img{
	border: none;
	background: none;
	box-shadow: none;
}

li.app_f.go{
	-webkit-transform: translateX(-502px);
}

li.app_w.go{
	-webkit-transform: translateX(502px);
}